 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeClick()">
                </button>
            </div>
            <div class="modal-body">
                <app-resena [res]="res" *ngIf="ActivateResenaComp"></app-resena>
            </div>
        </div>
    </div>
</div>
<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Ingrese isbn a buscar</label>
    <div class="input-group input-group-lg">
         <input type="text" class="form-control" id="isbn"
         [(ngModel)] ="isbn"
        placeholder="Ingrese isbn">
    </div>
</div>
<br>
<button (click)="buscarLibro()"  class ="btn btn-primary">Buscar</button>
 &nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="refreshLibroList()"  class ="btn btn-primary">Mostrar todos los libros</button>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Título</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of LibroList">
            <td>{{dataItem.isbn}}</td>
            <td>{{dataItem.titulo}}</td>
            <td>
<!--               <button type= "button" class="btn btn-light mr-1">
                    Reseña
                </button>
 -->               <button type="button" class="btn btn-primary float-right m-2"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click) ="addClick(dataItem.isbn)"
                    data-backdrop="static" data-keyboard="false">
                    Añadir reseña
                </button>
                      <button type= "button" class ="btn btn-light mr-1">
                    Calificación
                </button>
            </td>
        </tr>
    </tbody>
</table>

